<div id='home'>

       <h2>Salary calculation demo app</h2>
       <h3>- a technology playground and an on-going Proof of Concept :)</h3>

       <div class="col-md-12">
        <hr />
       </div>

        <div class="col-md-4">
            You can access system basic information <a href="#/basicdata">here</a>. That includes your employer data as well as all your employees
            and their corresponding basic data.
            <hr />
        </div>

    <div class="col-md-4">
        This is the core of the system - <a href="#/salarycalculation">Salary calculation</a>.
        <hr />
    </div>

    <div class="col-md-4">
        This is where you will find reports and statistics. (TODO)
        <hr />
    </div>

    <div class="col-md-12">
        Have fun!
        <hr />
    </div>

</div>