<div class="salaryCalculationApp col-md-12">

    <div id="employeesAndEmployeeGroups" class="col-md-3 text-center" ng-controller="employeeAndEmployeeGroupController">
        from here you will select the employees or the employer group to calculate salaries for
        <label>Choose individual employees...</label>

        <div id="employees">
            <p class="employee" ng-class="employee.selected ? 'selected' : ''" ng-repeat="employee in employees" ng-click="selectEmployee(employee)">
                Name: {{ employee.name }}
            </p>
        </div>
        
        @*<label>...or choose a group</label>
        <div id="employeeGroups">
            <p class="employeeGroup">Ones with permanent contract</p>
            <p class="employeeGroup">Paid by the hour</p>
            <p class="employeeGroup">Irregular work</p>
        </div>*@

        <div id="rxTesting">
            results here:
            <div id="results"></div>
        </div>
    </div>

    <div id="salaryCalculation" class="col-md-6" ng-controller="salaryCalculationController">
        <div id="calculationBasicData" class="col-md-12">
            <div class="col-md-4">
                <label>Calculation period</label>
            </div>
            <div class="col-md-3 col-md-push-1">
                <input class="col-md-12" type="text" ng-model="calculationBasicdata.PeriodStartDate" />
            </div>
            <div class="col-md-3 col-md-push-1">
                <input class="col-md-12" type="text" ng-model="calculationBasicdata.PeriodEndDate" />
            </div>
        </div>
        <div id="addCalculationRowSection" class="col-md-12">
            <label class="col-md-5">Add calculation row:</label>
            <select class="col-md-4 col-md-push-3" ng-model="selectedRowType" ng-options="type._id as type.friendlynames[0].friendlyName for type in possibleCalculationRowTypes" id="addCalculationRow" ng-change="addCalculationRow()"></select>
        </div>
        <div class="col-md-12" id="calculationRows">
            <div class="col-md-12 calculationRow" ng-class="calculationRow.rowType" ng-repeat="calculationRow in calculationRows | orderBy:'rowType':true">
                <div class="col-md-6">
                    <label>{{ calculationRow.name }}</label>
                </div>
                <div class="col-md-4 col-md-push-2">
                    <input type="number" ng-model="calculationRow.value" />
                </div>
            </div>
        </div>
        <div class="col-md-12" id="calculationTotals" ng-repeat="calculationTotal in calculationTotals">
            <label class="col-md-12">Employee {{ calculationTotal.employeeName }}, tax percentage {{ calculationTotal.taxPercentage }}</label>
            <p class="col-md-12 col-md-push-6">total taxable {{ calculationTotal.totalTaxable }}</p>
            <p class="col-md-12 col-md-push-6">total tax {{ calculationTotal.totalTax }}</p>
            <p class="col-md-12 col-md-push-6">total payable {{ calculationTotal.totalPayable }}</p>
        </div>
        <input ng-hide="calculationRows.length === 0" type="button" id="calculationSubmitBtn" class="col-md-4 col-md-push-8" value="Submit calculation" ng-click="submitCalculation()" />
    </div>

    <div id="calculationProcessing" class="col-md-3" ng-controller="processController">
        here you will see the processing of salary calculations
        <div ng-class="calculation.status" ng-repeat="calculation in calculationsBeingProcessed">
            <label>From {{ calculation.periodStart }} to {{ calculation.periodEnd }}</label>
            <label>{{ getFriendlyName(calculation.status, 'status') }}</label>
            <a href="" ng-click="editCalculation(calculation)" ng-show="{{canEditCalculation(calculation)}}" >Edit</a>
            <a href="" ng-click="cancelCalculation(calculation)" ng-show="{{canCancelCalculation(calculation)}}">Cancel</a>
        </div>
    </div>

    <div id="notificationSection" class="col-md-12" ng-controller="notificationsController">
        <p ng-repeat="notification in notifications track by $index" ng-class="notification.type">
            {{ notification.message }}
        </p>
    </div>
</div>